:root {
  --primary-color: #2c91e4;
  --secondary-color: #4353a1;
  --shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  --outline: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.circle {
  display: block;
  margin: 100px auto;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  width: 500px;
  height: 500px;
  line-height: 1.5;
  box-shadow: 5x 5x 5x rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 5%,
    rgb(255, 232, 182) 55%,
    rgb(243, 177, 114) 90%
  );
}

.row1 {
  text-align: center;
  padding: 18px 0 0;
}

.description {
  color: var(--primary-color);
  font-size: 35px;
  line-height: 1.2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.descriptionIcon {
  max-width: 60px;
}

.row2 {
  text-align: center;
  line-height: 1;
  padding: 0 35px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.group1 {
  position: relative;
  top: 3px;
}

.windSpeed {
  color: var(--primary-color);
  font-size: 20px;
}

.windUnit {
  color: var(--secondary-color);
  font-size: 17px;
  padding: 0 0 0 35px;
}

.windEmoji {
  font-size: 25px;
}

.group2 {
  position: relative;
  right: 6px;
}

.temperature {
  color: var(--primary-color);
  font-size: 50px;
  padding: 0 0 0 28px;
}

.fahrenheit {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
  position: relative;
  right: 3px;
  bottom: 25px;
}

.group3 {
  position: relative;
  top: 10px;
}

.humidity {
  color: var(--primary-color);
  font-size: 20px;
}

.humidityLabel {
  color: var(--secondary-color);
  font-size: 17px;
}

.row3 {
  text-align: center;
  text-shadow: var(--shadow);
}

.set1 {
  width: 50%;
}

.sunEjoji {
  width: 25px;
  height: auto;
  position: relative;
  top: 5px;
}

.sunriseLabel {
  color: var(--secondary-color);
}

.sunsetLabel {
  color: var(--secondary-color);
}

.sunriseTime {
  color: var(--primary-color);
}

.sunsetTime {
  color: var(--primary-color);
}

.city {
  color: var(--primary-color);
  font-size: 18px;
  position: relative;
  right: 0px;
}

.search-bar {
  width: 65%;
}

.form-control {
  width: 100%;
}

#searchBar {
  display: inline-block;
  border: 1px solid var(--secondary-color);
  box-shadow: var(--shadow);
}

.searchButton {
  text-align: center;
  padding: 3px 4px;
  position: relative;
  right: 20px;
  color: var(--primary-color);
  font-size: 13px;
  font-weight: 700;
  text-shadow: var(--shadow);
  width: 57px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  box-shadow: var(--shadow);
  transition: all 200ms ease-in-out;
}

.searchButton:hover {
  cursor: pointer;
  background: var(--secondary-color);
}

.date {
  color: var(--primary-color);
  font-size: 18px;
  position: relative;
  right: 0px;
}

.set3 {
  padding: 32px 0 0;
}

button {
  background: transparent;
  border: transparent;
}

.location {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  right: 15px;
  top: 3px;
  color: var(--primary-color);
  padding: 5px 0 0;
  background: transparent;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
  text-shadow: var(--shadow);
  box-shadow: var(--shadow);
  transition: all 200ms ease-in-out;
}

.location:hover {
  cursor: pointer;
  background: var(--secondary-color);
}

.row4 {
  text-align: center;
  padding: 15px 50px 35px;
  line-height: 1.1;
}

.day {
  color: var(--primary-color);
  font-weight: 700;
  position: relative;
  top: 5px;
}

.weather {
  max-width: 45px;
}

.temp {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.high {
  color: #fff01f;
  text-shadow: var(--outline);
}

.low {
  color: #ff7e67;
  opacity: 95%;
  text-shadow: var(--outline);
}

.row5 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  max-width: 510px;
  opacity: 85%;
  font-family: monospace;
  text-shadow: var(--shadow);
}

.openSourceLink {
  text-decoration: none;
  transition: all 200ms ease;
}

.openSourceLink:hover {
  text-decoration: underline;
}
